body {
  font-family: sans-serif;

  margin: 2rem;
  
  height: 100vh;
  background-color: #fff3e0
}

header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 5px;
}

header > nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

  place-items: end end;
}

main {  
  margin-top: 1rem;
  border-top: solid 1px rgba(197, 197, 197, 1);
}

pre {
  margin: 0
}

h1 {
  font-size: 0.7rem;
  margin: 0
}

h2 {
  font-size: 1rem;
}

p#solutions {
  margin: 0 0 1em 0
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgba(218, 21, 21, 1);
}

#ascii-label,
#corner-label,
#colour-label,
textarea, input  {
  display: grid;
  place-items: center start;
}

textarea, input 
{  
  border: none;
  padding: 10px;
  margin: 0;

  font-size: 1rem;
}

input {
  width: 1ch;
}

#seperator {  
  margin-top: 1rem;
  border-top: solid 1px rgba(197, 197, 197, 1);
}

#input-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 20px;
}

#input-ascii {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;
}

#input-corner,
#input-colour {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
}

#info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 10px;
}

#form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.ascii-solution {
  display: grid;
  place-items: center center;
  padding: 10px;

  border-radius: 5px;
  border: 1px solid rgb(124, 120, 120);
}

#spinner {
  display: grid;
  place-items: start center;
}

.spinner-2 {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#ffffff;
  border-right-color: #ccc0ae;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

@media screen and (max-width: 600px) {

  body {  
    margin: 1rem;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  
  header > nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  Link {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 0.4rem;
    margin: 0
  }

  #input-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

  textarea, 
  input {
    padding: 5px;
  }

  .ascii-solution {
    padding: 0px;  
    border: none;
  }
}


