body {
  font-family: sans-serif;
  
  height: 100vh;
  background-color: rgba(237, 238, 226, 0.904);
}

header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 5px;
}

header > nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;

  place-items: end end;
}

main {  
  margin-top: 1rem;
  border-top: solid 1px rgba(197, 197, 197, 1);
}

pre {
  margin: 0
}

a:link {
  text-decoration: none;
}

#ascii-label {
  display: grid;
  place-items: center start;
}

textarea {
  display: grid;
  place-items: center start;

  border: none;
  width: 80%;
  padding: 10px;
  margin: 10px 0;

  font-size: 1rem;
}

#corner-label {
  display: grid;
  place-items: center start;
}

input {
  display: grid;
  place-items: center start;

  width: 1ch;
  border: none;
  padding: 10px;
  margin: 10px 0;

  font-size: 1rem;
}

#seperator {  
  margin-top: 1rem;
  border-top: solid 1px rgba(197, 197, 197, 1);
}

#input-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 5px;
}

#input-ascii {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;
}

#input-corner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 5px;
}

#form-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-gap: 5px;
}

.ascii-solution {
  display: grid;
  place-items: center center;

  border: 1px solid rgb(124, 120, 120);
}


